@font-face {
    font-family: 'mountains_of_christmasregular';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/mountainsofchristmas-webfont.woff2') format('woff2'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/mountainsofchristmas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #151522;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Contenedor principal para controlar mejor el layout */
.contenedor-contador {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Header con la imagen del título */
.header-bienvenida {
  position: absolute;
  top: 20px;
  width: 90%;
  text-align: center;
  z-index: 10;
}

.header-bienvenida img {
  max-width: 100%;
  height: auto;
}

/* SVG del árbol - MUCHO MÁS GRANDE */
svg {
  width: 100%;
  height: 100%;
  visibility: hidden;
  transform: scale(1.5); /* Incrementado para que se vea más grande */
  transform-origin: center center;
}

.sparkle {
  /* mix-blend-mode:luminosity */
}

/* Texto final - ajustado para que se vea completo */
#endMessage {
  font-family: sans-serif;
  font-size: 1.8rem; /* Reducido un poco para que quepa */
  text-anchor: middle;
  text-align: center;
  fill: #FFFFFF;
  color: #FFFFFF;
  opacity: 0;
  letter-spacing: 1px;
  line-height: 1.4; /* Añadido para mejor espaciado entre líneas */
}

/* Media query para resolución exacta 1080x1920 */
@media screen and (max-width: 1080px) and (min-height: 1800px) {
  svg {
    width: 100%;
    height: 90%;
    transform: scale(1.6);
  }

  #endMessage {
    font-size: 2rem;
  }
}

/* Media query general para móviles verticales */
@media screen and (max-width: 1200px) and (orientation: portrait) {
  svg {
    transform: scale(1.5);
  }

  .header-bienvenida {
    top: 30px;
  }

  #endMessage {
    font-size: 1.6rem;
  }
}

a {
  color: white;
  text-decoration: underline dotted #FFFFFF;
}

a:visited {
  color: red;
}